* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./images/pex.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
  background-size: 120%;
  transition: 500ms;


}



/*.parallax:hover {
  z-index: -2;
  background-size: 120%;
  transition: 500ms;
}
*/
body, html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url('./images/bg-img.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}



body, html {
  height: 100%;
}

.parallax-1 {
  /* The image used */
  background-image: url('./images/pexels.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

body, html {
  height: 100%;
}

.parallax-2 {
  /* The image used */
  background-image: url('./images/pexels-2.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Turn off parallax scrolling for tablets and phones. Increase the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}



#div-1 {
  /*background-image: url("./images/bg-imgs.jpeg");
  background-repeat: no-repeat;
  background-size: cover;*/
  height:700px;
  font-size:36px;
  z-index: -2;
}


#section-1 {
  background-color: #002540;
  opacity: .8;
}


/*.parallax:hover {
    background-size: 90%;
    filter: blur(8px);
   -webkit-filter: blur(8px);*/

/*add blur effect*/
/*  filter: blur(8px);
  -webkit-filter: blur(8px);*/



nav {
  opacity: .8;
  text-align: center;
  width: 100%;
  height: auto;
  display: inline-block;
  float: none;
  font-family: century gothic;
  border-radius: 25px;
}

li {
  text-align: center;
}


#carouselExampleDark {
  height: 50%;
  width: 50%;
}

#carouselExampleDar + p {
  text-decoration-color: rgba(0, 128, 255);
}

#pre-footer {
  background-color: #002540;
  display: inline-block;
  width: 100%;
  color: white;  
  opacity: .8;
}

#pre-footer div {
  display: inline-block;
  text-align: left;
  margin-right: 150px; 
  padding: 20px;
  content: center;
  text-align: center;
}



footer {
  text-align: center;
  padding: 10px 10px;
  background-color: rgb(255, 230, 230);
  opacity: .8;
  font-family: monospace;
}

iframe {
  width: 600; 
  height: 450; 
  border: 1; 
}



/*Effects for Profile Picture*/

.container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 2s ease-in;
  background-color: red;
}

.container:hover .overlay {
  opacity: 1;
}

.icon {
  color: white;
  font-size: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.fa-user:hover {
  color: #eee;
}


#desc {
  margin-right: 250px;
  margin-left: 250px;
}

#myprojects {
  background-color: #002540;
  opacity: .8;
}







/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
  width: auto;
}*/

.modal-body {
  padding: 2px 16px;
  width: 25%;
}

/*.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}*/